* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
 
 
  font-family: "Special Elite", cursive;
}

html {
  scroll-behavior: smooth;
}

body{
margin: 1rem;
 
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 20px;
}

.nav-item {
  text-transform: uppercase;
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background:greenyellow;
  color: white;
  border-radius: 7px;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  padding: 6px 17px;
}

.banner {
  position: relative;
  background: url("./assets/salman-hossain-saif-KcbD8QoBGIk-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;

}

.logo {
  height: 45px;
}

.container {
  position: absolute;
  top: 50%;
  bottom: 50%;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
   color: rgb(51, 42, 42);
   text-transform: uppercase;
   backface-visibility: hidden;
   margin-bottom: 40px;
}

.heading-primary-main {
   display: block;
   font-size: 60px;
   font-weight: 400;
   letter-spacing: 35px;
   animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15px;
  animation: moveInRight 1s ease-out;
  
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(10px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
0% {
  opacity: 0;
  transform: translateX(100%);
}

80% {
  transform: translateX(-10px);
}

100% {
  opacity: 1;
  transform: translate(0);
}
}

@keyframes moveInBottom {
0% {
  opacity: 0;
  transform: translateY(30px);
}


100% {
  opacity: 1;
  transform: translate(0);
}
}

.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 padding: 15px;
 display: inline-block;
 border-radius: 100px;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
 background-color: rgb(70, 56, 56);
 color: #777;
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 border-radius: 100px;
 z-index: -1;
 transition: all .4s ;
}

.btn-white::after {
  background-color: rgb(219, 163, 163);
}

.btn:hover::after {
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }
/* @media(max-width:350){
  .banner{
    padding: 250;
  }
  .banner h1 {
    font-size: 1.8em;
  }
}
*/

.main-banner-section {
  position: relative;
  background-image: url("./customer1.jpeg");
  background-size: cover;
  padding: 90px 0px 100px;
  background-position:top center ;

}

.main-banner-section .text p {
  color: rgb(65, 50, 50);
  text-align: justify;
}

p, .text {
  text-align: justify;
}

.sec-title.light .title, .sec-title.light h2 {

  animation: moveInRight 1.3s ease-out;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-section {
  width: 100%;
  height: 100vh;
  background-color: #dba1a1;
  position: relative;
  left: 15px;
  margin-bottom: 0rem;
  transform-origin: left;
  box-shadow: 0.5rem 0.5rem 1rem #aaa;
  padding: 5rem 0;
  transition: left 0.5s, transform 0.5s;
}

.project-heading {
  font-size: 10rem;
  font-weight: bolder;
  color: rgb(53, 42, 42);
  margin-bottom: 7rem;
  letter-spacing: 1rem;
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.5rem #555;
  margin-top: 2rem;
}



.card {
  width: 50rem;
  margin: 0 3rem;
  background-color: rgb(230, 210, 210);
  padding: 1rem;
  box-shadow: 0.6rem 0.6rem 0.6rem #bbb;
  position: relative;
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 0.8rem 0.8rem 0.8rem #bbb;
}

.project-name {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  z-index: 10;
}

.card-img {
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.5s;
}

.card:hover .card-img {
  opacity: 1;
}

.description {
  font-size: 1.8rem;
  color: #777;
  margin: 0.5rem 0;
}

.card-btn {
  width: 100%;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.3rem #000;
  box-shadow: 0.1rem 0.1rem 0.5rem #bbb;
  cursor: pointer;
}